<%= form_with(model: event, class: "contents") do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% event.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :title %>
    <%= form.text_field :title, autofocus: true, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :start %>
    <%= form.datetime_field :start, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :end %>
    <%= form.datetime_field :end, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :all_day %>
    <%= form.check_box :all_day, class: "block mt-2 h-5 w-5" %>
  </div>

  <div data-controller='toggle' class="m-2">
    <div class="my-5">
      <%= form.label :every %>
      <%#= data: { action: "click->toggle#hide for all, show for custom" } %>
      <%= form.select :every, %w[once day week month year], {} , class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="hidden" data-toggle-target="toggleable">
      <div class="my-5">
        <%= form.label :interval %>
        <%= form.number_field :interval, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
      </div>

      <div class="my-5">
        <%= form.label :until %>
        <%= form.date_field :until, value: form.object.until.presence || nil, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
      </div>
    </div>
  </div>

  <div class="my-5">
    <%= form.label :color %>
    <%= form.color_field :color, class: "block shadow rounded-md border border-gray-200 outline-none px-1 mt-2 w-full" %>
  </div>

  <div class="inline">
    <%= form.hidden_field :parent_id %>
    <%= form.hidden_field :event_until_id %>
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
