<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Calendar</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <style>.fc-event{cursor: pointer;}</style>
  </head>

  <body>
    <%= turbo_frame_tag "modal" %>
    <%= yield %>
  </body>
</html>
